<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </head>
  <body>
    <div class="footer">
      <center>
        Made with ❤️ and Node.js <br />
        by <a href="https://akulsrivastava.com/">Akul Srivastava</a> <br />
        <div style="margin-top: 10px;">
          <a
            class="github-button"
            href="https://github.com/akulsr0"
            data-color-scheme="no-preference: light; light: light; dark: dark;"
            data-show-count="true"
            aria-label="Follow @akulsr0 on GitHub"
            >Follow @akulsr0</a
          >
          <a
            class="github-button"
            href="https://github.com/akulsr0/learn-js"
            data-color-scheme="no-preference: light; light: light; dark: dark;"
            data-icon="octicon-star"
            data-show-count="true"
            aria-label="Star akulsr0/learn-js on GitHub"
            >Star</a
          >
        </div>
      </center>
    </div>
  </body>
</html>
