<html>
  <head>
    <style>
      .nav {
        margin-top: 10px;
        margin-left: 10px;
      }
      .nav a {
          margin-right: 4px;
      }
    </style>
  </head>
  <body>
    <div class="nav">
      <a href=/>Home</a>
      <a href=/programs>Programs</a>
      <a href=/questions>Questions</a>
    </div>
  </body>
</html>
