<div style="padding-left: 10px; margin-top: 10px;">
  <form action="/search" method="GET">
    <input type="search" name="q" placeholder="eg. array, graph..." />
    <button>Search</button>
  </form>
</div>
